{% extends "story/base.html" %}
{% load static %}

{% block content %}
    {% for story in stories %}
        <article class="media content-section">
        <img src="{{ story.author.userprofile.picture.url }}" alt="image" height="55" width="55">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ story.author }}</a>
                    <small class="text-muted">{{ story.date }}</small>
                </div>
                <h2><a class="article-title" href="{% url 'story detail' story.id %}">{{ story.title }}</a></h2>
                <p class="article-content">{{ story.content }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}
