{% extends "story/base.html" %}
{% block content %}
    <h2>
    LANDING
    </h2>
    <button class="btn btn-danger" type="submit">Danger</button>
    <button class="btn btn-primary" type="submit">Primary</button>
    <button class="btn btn-outline-secondary" type="submit">Secondary</button>
    <button class="btn btn-success" type="submit">Success</button>
    <button class="btn btn-dark" type="submit">Dark</button>
    <button class="btn btn-warning" type="submit">Warning</button>
    <button class="btn btn-info" type="submit">Teller</button>
    <button type="button" class="btn btn-primary btn-sm">Small button</button>
    <button type="button" class="btn btn-outline-warning">Warning</button>
    <button type="button" class="btn btn-danger btn-sm">Small button</button>
    <button type="button" class="btn btn-warning btn-sm">Small button</button>
{% endblock content %}
